.navbar-info {
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
    text-align: right;
    padding-right: 10px;

    a {
        color: #253556;
        height: 50px;
        min-width: 40px;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        transition: all .2s ease-out;
        user-select: none;
    }
}
.full-box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}