<section class="full-box nav-lateral">
  <div class="full-box nav-lateral-bg show-nav-lateral"></div>
  <div
    class="full-box nav-lateral-content mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
  >
    <div
      id="mCSB_1"
      class="mCustomScrollBox mCS-light-thin mCSB_vertical mCSB_inside"
      style="max-height: none"
      tabindex="0"
    >
      <div
        id="mCSB_1_container"
        class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
        style="position: relative; top: 0; left: 0"
        dir="ltr"
      >
        <figure class="full-box nav-lateral-avatar">
          <i class="far fa-times-circle show-nav-lateral"></i>
          <img
            src="../../../assets/images/Avatar.png"
            class="img-fluid mCS_img_loaded"
            alt="Avatar"
          />
          <figcaption class="text-center">
            Camilo Castillo <br /><small>Web Developer</small>
          </figcaption>
        </figure>
        <div class="full-box nav-lateral-bar"></div>

        <nav class="full-box nav-lateral-menu">
          <ul>
            <li>
              <a routerLink="/"
                ><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a
              >
            </li>

            <li>
              <a
                class="nav-btn-submenu"
                data-toggle="collapse"
                href="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp;
                Préstamos <i class="fas fa-chevron-down"></i
              ></a>
              <ul class="collapse" id="collapseExample">
                <li>
                  <a
                    class="collapse ml-4"
                    id="collapseExample"
                    routerLink="/prestamos"
                    ><i class="fas fa-plus fa-fw"></i> &nbsp; Nuevo préstamo</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/usuarios"
                    class="nav-btn-submenu collapse ml-4"
                    id="collapseExample"
                    ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Total Créditos
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/pendientes"
                    class="nav-btn-submenu collapse ml-4"
                    id="collapseExample"
                    ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Créditos Pendientes
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div
        id="mCSB_1_scrollbar_vertical"
        class="mCSB_scrollTools mCSB_1_scrollbar mCS-light-thin mCSB_scrollTools_vertical"
        style="display: none"
      >
        <a href="#" class="mCSB_buttonUp"></a>
        <div class="mCSB_draggerContainer">
          <div
            id="mCSB_1_dragger_vertical"
            class="mCSB_dragger"
            style="position: absolute; min-height: 30px; height: 0px; top: 0px"
          >
            <div class="mCSB_dragger_bar" style="line-height: 30px"></div>
          </div>
          <div class="mCSB_draggerRail"></div>
        </div>
        <a href="#" class="mCSB_buttonDown"></a>
      </div>
    </div>
  </div>
</section>
