<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a tu sistema de crédito</h1>
    <p class="lead">Puedes solicitar un crédito desde el modulo de prestamos</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis accusantium ad, saepe explicabo officiis eaque assumenda quasi quam vitae modi! Consectetur odit et assumenda quaerat corrupti sit corporis officia eaque.
    Aliquam veritatis facere numquam odit ut tempore doloremque aspernatur eum excepturi perspiciatis. Architecto nisi laborum ipsum reiciendis dolorum et quidem blanditiis itaque perspiciatis harum rerum, libero voluptas repellendus nostrum! Magnam.
    Ad dolores dolorem, suscipit ipsa, sapiente dolore iure expedita corrupti cum quibusdam sunt consequuntur. Modi voluptate repellendus rerum accusamus. Officiis quasi dolorum error! Nulla, laboriosam saepe earum aliquam quisquam facere.
    Ipsa est delectus vitae quis perspiciatis officia harum. Laborum culpa alias, fugit voluptas facilis delectus minima tenetur at incidunt nihil laudantium sint veniam aut? Fugit tempore voluptatem cupiditate laboriosam velit.
    Fugit tempore sed magnam? Iste maxime labore magni aliquid quia hic culpa ratione ad, pariatur quas voluptatum at sunt deleniti corporis amet commodi adipisci error. Illum nam dolor maiores? Libero?</p>
</div>
