.jumbotron {
  background: #1c242c;
  border-radius: 0;
  color: white;
  height: calc(100vh - 50px);
  margin: 0;
}

.box-violet {
  background-color: #4d4cfc;
  color: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
